<div class="container">
  <div class="row justify-content-center align-items-center py-2">
    <div class="col-md-6 offset-md-2 text-light d-none d-md-block">
      <h4>Don’t miss what’s happening</h4>
      <p>People on Twitter are the first to know.</p>
    </div>
    <div class="col-6 col-md-2">
      <a
        class="btn btn-outline-light rounded-pill w-100"
        (click)="showAuthBasedOnType(true)"
        >Log in</a
      >
    </div>
    <div class="col-6 col-md-2">
      <a
        class="btn btn-light rounded-pill w-100"
        (click)="showAuthBasedOnType(false)"
        >Sign up</a
      >
    </div>
  </div>
</div>
