<nav class="navbar p-0">
  <div class="container justify-content-center">
    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
    <ul
      class="vh-100 navbar-nav d-flex flex-column align-items-center align-items-lg-start position-fixed top-0"
    >
      <li class="nav-item">
        <div
          class="p-2 d-flex justify-content-center align-items-center rounded-pill"
        >
          <a class="nav-link fs-3 active" routerLink="home"
            ><i class="fa-brands fa-twitter me-lg-2"></i>
          </a>
        </div>
      </li>
      <li class="nav-item hover-effect">
        <div
          class="p-2 d-flex justify-content-center align-items-center rounded-pill"
        >
          <a
            class="nav-link fs-4 d-flex align-items-center"
            routerLink="home"
            routerLinkActive="active"
            ><i class="fa-solid fa-house me-lg-2"></i>
            <span
              class="d-none d-sm-none d-md-none d-lg-inline-block d-xl-inline-block d-xxl-inline-block"
              >Home</span
            ></a
          >
        </div>
      </li>
      <li class="nav-item hover-effect">
        <div
          class="p-2 d-flex justify-content-center align-items-center rounded-pill"
        >
          <a class="nav-link fs-4 d-flex align-items-center" href="#"
            ><i class="fa-solid fa-hashtag me-lg-2"></i>
            <span
              class="d-none d-sm-none d-md-none d-lg-inline-block d-xl-inline-block d-xxl-inline-block"
              >Explore</span
            ></a
          >
        </div>
      </li>
      <li class="nav-item hover-effect">
        <div
          class="p-2 d-flex justify-content-center align-items-center rounded-pill"
        >
          <a class="nav-link fs-4 d-flex align-items-center" href="#"
            ><i class="fa-regular fa-bell me-lg-2"></i>
            <span
              class="d-none d-sm-none d-md-none d-lg-inline-block d-xl-inline-block d-xxl-inline-block"
              >Notification</span
            ></a
          >
        </div>
      </li>
      <li class="nav-item hover-effect">
        <div
          class="p-2 d-flex justify-content-center align-items-center rounded-pill"
        >
          <a class="nav-link fs-4 d-flex align-items-center" href="#"
            ><i class="fa-regular fa-envelope me-lg-2"></i>
            <span
              class="d-none d-sm-none d-md-none d-lg-inline-block d-xl-inline-block d-xxl-inline-block"
              >Messages</span
            ></a
          >
        </div>
      </li>
      <li class="nav-item hover-effect">
        <div
          class="p-2 d-flex justify-content-center align-items-center rounded-pill"
        >
          <a
            class="nav-link fs-4 d-flex align-items-center"
            routerLink="profile"
            routerLinkActive="active"
            ><i class="fa-regular fa-user me-lg-2"></i>
            <span
              class="d-none d-sm-none d-md-none d-lg-inline-block d-xl-inline-block d-xxl-inline-block"
              >Profile</span
            ></a
          >
        </div>
      </li>
      <li class="nav-item hover-effect mt-5">
        <button class="btn btn-primary rounded-pill px-lg-5 py-lg-2">
          <i class="fa-solid fa-feather-pointed d-lg-none"></i
          ><span
            class="fw-bold d-none d-sm-none d-md-none d-lg-inline-block d-xl-inline-block d-xxl-inline-block"
            >Tweet</span
          >
        </button>
      </li>

      <li class="nav-item hover-effect personProfileData mt-auto">
        <div
          class="p-2 d-flex justify-content-center align-items-center rounded-pill"
        >
          <a class="nav-link d-flex align-items-center" href="#">
            <!-- <div class="rounded-circle overflow-hidden me-lg-2">
              <img src="../../assets/myImage.png" alt="" />
            </div> -->
            <div class="me-lg-2">
              <app-profile-image
                [widthAndHeight]="'smallWidth'"
              ></app-profile-image>
            </div>
            <span
              class="d-none d-sm-none d-md-none d-lg-flex d-xl-flex d-xxl-flex flex-column"
            >
              <p class="m-0 fw-bold d-inline-block">Khan is Back!</p>
              <p class="username m-0">@imMohamedAshraf</p>
            </span>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <!-- </div> -->
</nav>
