<div class="row">
  <!-- image header and profile image -->
  <div class="col-12">
    <div class="image-container position-relative bg-info">
      <a href="">
        <img
          [src]="anonymousUser.headerImage"
          alt="profile background"
          class="background-image"
      /></a>
      <div class="ms-2 profile-image-container position-absolute">
        <div
          class="profile-image rounded-circle bg-white d-flex justify-content-center align-items-center"
        >
          <div class="image">
            <a href="">
              <img src="{{ anonymousUser.profileImage }}" alt="" class="w-100"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container gy-5">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-12 d-flex justify-content-end">
          <button
            *ngIf="loggedInUser === anonymousUser"
            class="btn btn-outline-secondary rounded-pill fw-bold text-black"
          >
            Edit Profile
          </button>
          <button
            *ngIf="loggedInUser !== anonymousUser"
            class="btn rounded-pill fw-bold"
            [ngClass]="
              followBtnContent == followStatesInTemplate.unfollow ||
              followBtnContent == followStatesInTemplate.following
                ? 'btn-outline-secondary unfollow'
                : 'btn-dark'
            "
            (click)="followAndUnfollowUser()"
            (mouseover)="onMouseOver()"
            (mouseenter)="onMouseOver()"
            (mouseleave)="onMouseLeave()"
          >
            {{ followBtnContent }}
          </button>
        </div>
      </div>
      <!-- name and user name -->
      <div class="row">
        <div class="col-12">
          <h4 class="fw-bold">{{ anonymousUser.name }}</h4>
          <p class="text-muted">@{{ anonymousUser.username }}</p>
        </div>
      </div>
      <!-- location , link and joining date -->
      <div class="row">
        <div class="user-data d-flex flex-wrap">
          <p class="me-4 text-muted" *ngIf="anonymousUser.location">
            <i class="fa-solid fa-location-dot"></i>
            {{ anonymousUser.location }}
          </p>
          <p class="me-4" *ngIf="anonymousUser.website">
            <i class="fa-solid fa-link me-1 text-muted"></i>
            <a
              [href]="anonymousUser.website"
              target="_blank"
              class="text-decoration-none"
              >{{ anonymousUser.website }}</a
            >
          </p>
          <p class="text-muted">
            <i class="fa-solid fa-calendar-days"></i>
            Joined {{ JoinDatePreview() }}
          </p>
        </div>
      </div>
      <!-- followers and following -->
      <div class="row">
        <!-- viewing another person profile -->
        <div
          class="following-followers d-flex"
          *ngIf="loggedInUser !== anonymousUser"
        >
          <p class="text-muted me-3">
            <span class="fw-bold text-dark me-1">{{
              anonymousUser.following.length
            }}</span
            >Following
          </p>
          <p class="text-muted">
            <span class="fw-bold text-dark me-1">
              {{ anonymousUser.followers.length }} </span
            >Followers
          </p>
        </div>
        <!-- viewing my profile -->
        <div
          class="following-followers d-flex"
          *ngIf="loggedInUser === anonymousUser"
        >
          <p class="text-muted me-3">
            <span class="fw-bold text-dark me-1">{{
              loggedInUser.following.length
            }}</span
            >Following
          </p>
          <p class="text-muted">
            <span class="fw-bold text-dark me-1">
              {{ loggedInUser.followers.length }} </span
            >Followers
          </p>
        </div>
      </div>
      <div class="row">
        <nav class="nav nav-justified p-0 border-bottom">
          <a class="nav-link" aria-current="page" href="#">Tweets</a>
          <a class="nav-link active" href="#">Tweets and replies</a>
          <a class="nav-link" href="#">Media</a>
          <a class="nav-link" href="#">Likes</a>
        </nav>
      </div>
    </div>
    <!-- to retreive my tweets -->
    <app-list-tweets
      *ngIf="loggedInUser === anonymousUser"
      [wantedTweetsType]="[tweetTypes.myTweets, loggedInUser]"
    ></app-list-tweets>

    <!-- to retreive tweets for another user -->
    <app-list-tweets
      *ngIf="loggedInUser !== anonymousUser"
      [wantedTweetsType]="[tweetTypes.anotherUserTweets, anonymousUser]"
    ></app-list-tweets>
  </div>
</div>
